<!-- Wrapper Start -->
<section class="about section">
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<div class="block">
					<div class="section-title">
						<h2>Welcome to Legal World</h2>
						<p>RJ Law Affiliate is renowned name for trustworthy work entrusted with us. A Noble Profession taken care with the Noble
						Standards.</p>
					</div>
					<p>RJ Law Affiliate - A reputed Law firm which is growing in leaps and bounds is based in South India supported by many
					Senior Advocates, Retired Judges & Police Personnel, NGO's , Activists and Legal Educators worldwide. We cater to
					variety of Clients at all levels right from a poor scavenger to a Corporate Multinational Company Chief Executive
					Officer. We bring Talent, Experience, Moral Values, Care, Humanity, Spirituality, Discipline to all our clients
					irrespective of their nature and position. </p>
				</div>
			</div><!-- .col-md-7 close -->
			<div class="col-md-5">
				<div class="block">
					<img src="images/home-trust.jpg" alt="Img">
				</div>
			</div><!-- .col-md-5 close -->
		</div>
	</div>
</section>