<section>
    <!-- Modal -->
    <div class="modal fade" id="disclaimer" tabindex="-1" role="dialog" aria-labelledby="disclaimerTitle"
        aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="disclaimerTitle">Disclaimer</h5>
                </div>
                <div class="modal-body">
                    <p>
                        <strong>As per the rules of the Bar Council of India</strong>, Restrictions are imposed and we
                        are not permitted
                        to solicit work and
                        advertise based on the Areas of Practice.
                    </p>
                    <p>
                        By clicking on the <b><em>"I agree"</em></b> below, the user acknowledges the following:
                        There has been no advertisement, personal communication, solicitation, invitation or inducement
                        of any sort whatsoever
                        from us or any of our members to solicit any work through this website & no responsibility or
                        liability is assumed for
                        the accuracy, completeness or timeliness of any information provided herein;
                    </p>

                    <p>
                        The user wishes to gain more information about us for his/her own information and use (or) for
                        getting free legal
                        consultation and the user is not prohibited or restricted in any manner from accessing the
                        information or contents of
                        this website under applicable law or regulations of the Jurisdictions from where such user is
                        accessing the website;
                    </p>

                    <p>
                        The information about us is provided to the user only on his/her specific request and any
                        information obtained or
                        materials downloaded from this website is completely at the user’s volition and any
                        transmission, receipt or use/access
                        of this site would not create any lawyer-client relationship.
                    </p>

                    <p>
                        <mark>
                            The Website may collect: <br>
                            a) Personal Data <br>
                            b) Any Internship application or Lawyer Position availability <br>
                            c)Visitor Details of the Site <br>
                            d) Other details like Volume of Traffic, I.P Number, Logs and the resources that has been
                            accessed is for the Site Statistics only.
                        </mark>
                    </p>

                    <p>
                        It is advised not to use any of the email addresses contained in this website to send us any
                        confidential Information
                        until you visit/speak with one of our Advocates and receive our specific Authorisation to send
                        such confidential
                        information to the firm.
                    </p>
                    <p>
                        We are not liable for any consequence of any action taken by the user relying on material /
                        information provided under
                        this website. In cases where the user has any legal issues, he/she in all cases must seek
                        independent legal advice.
                        Click <strong>AGREE</strong> if the user acknowledged the above. <strong>OR ELSE</strong>, the user is free to
                        leave this website.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" id="disclaimer-agree" class="btn btn-primary" data-dismiss="modal">I
                        Agree</button>
                    <!-- <button type="button" id="disclaimer-disagree" class="btn btn-secondary">I Disagree</button> -->
                </div>
            </div>
        </div>
    </div>
</section>