<!-- Header Start -->
<header class="navigation">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<nav class="navbar navbar-expand-lg p-0">
					<a class="navbar-brand" href="index.html">
						<img src="images/logo.png" alt="Logo">
					</a>

					<button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
						data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false"
						aria-label="Toggle navigation">
						<span class="ion-android-menu"></span>
					</button>

					<div class="collapse navbar-collapse ml-auto" id="navbarsExample09">
						<ul class="navbar-nav ml-auto">
							<li class="nav-item @@home">
								<a class="nav-link" href="index.html">Home</a>
							</li>

							<li class="nav-item @@lawyers">
								<a class="nav-link" href="lawyers.html">Lawyers</a>
							</li>
							
							<li class="nav-item @@about">
								<a class="nav-link" href="about.html">About Us</a>
							</li>

							<li class="nav-item @@contact">
								<a class="nav-link" href="contact.html">Contact</a>
							</li>

							<li class="nav-item @@faq">
								<a class="nav-link" href="faq.html">FAQ</a>
							</li>

							<li class="nav-item @@aid">
								<a class="nav-link" href="aid.html">Legal Aid</a>
							</li>

							<li class="nav-item @@blog">
								<a class="nav-link" href="blog-grid.html">Blogs</a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
	</div>
</header><!-- header close -->