<!-- Slider Start -->
<section class="slider">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="block">
					<h1 class="animated fadeInUp">Advocates <br>  &#38; Legal Consultants</h1>
					<p class="animated fadeInUp">We help all class of people to get Justice, to make the world a Peaceful, </br> Happy & Healthy place to live.</p>
					<a href="./contact.html" class="btn btn-main animated fadeInUp" >Contact Us</a>
				</div>
			</div>
		</div>
	</div>
</section>